<div class="container registration">
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Welcome to Fasting Crusade!</div>
            <div class="panel-body registration-welcome">
               <div>If you would like to join Fasting Crusade please fill out the registration form below!</div><br/>
               <div>Provide basic information here, if you wish to add other personal information to your account that can be done through the Account Management page when logged in.</div><br/>
               <div>Welcome again, and good luck fasting!</div>
            </div>
         </div>
         <div class="panel panel-default" ng-show="!registrationSuccess">
            <div class="register-info-form panel-default" ng-show="!showPaymentForm">
               <div class="panel-heading">Register</div>
               <div class="panel-body">
                  <!-- <form class="form-horizontal" role="form" name="registerForm" ng-submit="showPaymentForm = true"> -->
                  <form class="form-horizontal" role="form" name="registerForm" ng-submit="submitRegistrationNoCharge()">
                     <div class="form-group" ng-class="{ 'has-error' : !registerForm.email.$valid }">
                        <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                        <div class="col-md-6">
                           <input class="form-control" type="email" name="email" ng-model="email" required autofocus>
                        </div>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' : !registerForm.password.$valid }">
                        <label for="password" class="col-md-4 control-label">Password (at least 6 characters)</label>
                        <div class="col-md-6">
                           <input class="form-control" type="password" name="password" ng-model="password" 
                              pattern=".{6,}" required>
                        </div>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' : password !== password_confirmation }">
                        <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>
                           <div class="col-md-6">
                              <input class="form-control" type="password" name="password_confirmation" 
                                 ng-model="password_confirmation" required>
                           </div>
                     </div>

                     <div class="form-group">
                        <label for="name" class="col-md-4 control-label">Name</label>
                        <div class="col-md-6">
                           <input class="form-control" type="text" name="name" ng-model="name">
                        </div>
                     </div>
   
                     <div class="form-group register-button">
                        <button class="btn btn-primary" type="submit"
                           ng-disabled=!registerForm.$valid>Next</button>
                        <br ng-show="registrationError">
                        <div class="registration-error" ng-show="registrationError">Error registering!  Ensure all fields meet requirements!</div>
                     </div>
                  </form>
               </div>
            </div>
            <!-- <div class="register-payment-form" ng-show="showPaymentForm"> -->
            <div class="register-payment-form" ng-show="false">
               <div class="panel-heading panel-default">Payment</div>
               <div class="panel-body">
                  <form class="form-horizontal" role="form" name="paymentForm" ng-submit="submitRegistration()">
                     <div class="form-group">
                        <label class="col-md-4 control-label">Card Number</label>
                        <div class="col-md-6">
                           <div ng-model="card.card_number" id="sq-card-number"></div>
                        </div>
                     </div>
   
                     <div class="form-group">
                        <label class="col-md-4 control-label">CCV</label>
                        <div class="col-md-6">
                           <div ng-model="card.cvv" id="sq-cvv"></div>
                        </div>
                     </div>
      
                     <div class="form-group">
                        <label class="col-md-4 control-label">Expiration Date</label>
                        <div class="col-md-6">
                           <div ng-model="card.expiration_date" id="sq-expiration-date"></div>
                        </div>
                     </div>
   
                     <div class="form-group">
                        <label class="col-md-4 control-label">Postal Code</label>
                        <div class="col-md-6">
                           <div ng-model="card.postal_code" id="sq-postal-code"></div>
                        </div>
                     </div>
   
                     <div class="form-group register-button">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <br ng-show="paymentError || errors">
                        <div class="registration-error" ng-show="paymentError">Error registering!  Ensure all fields meet requirements!</div>
                        <div class="registration-error" ng-repeat="error in errors">{{error.message}}</div>
                     </div>
                  </form> 
               </div>
            </div>
         </div>
         
         <div class="panel panel-default" ng-show="registrationSuccess">
            <div class="panel-body registration-success-panel">
               <h3>Registration Successful!</h3>
               <span>You may now "Sign In" in the top right, or return to the main page.</span>
               <br/>
               <button class="btn btn-primary return-home" ng-click="returnHome()">Return to Main Page</button>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <img class="register-image" src="img/registration.svg">
      </div>
      </div>
   </div>
</div>
