<div class="ui grid centered container">
    <div class="row">
        <div class="column">
            <img src="{{ asset('img/c_logo.svg') }}" style="height: 10rem">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h1 class="ui header">Coming Soon</h1>
        </div>
    </div>
    <div class="row">
        <div class="column">
            Your site for fasting.
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <input type="email" name="email" placeholder="Your email address">
                        <button class="ui red button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            We will update you as soon as we are ready.
        </div>
    </div>
</div>

