<div class="welcome">
   <div class="row">
      <div class="col-md-offset-2 col-md-1">
         <div class="new-fast">
            <button class="btn btn-primary create-button" ng-click="state.go(states.newFast)">Create New Fast!</button>
         </div>
      </div>
      <div class="col-md-6">
         <slick ng-if="fastsLoaded" settings="slickConfig">
            <div fast-card ng-repeat="fast in fasts" fast="fast" class="fast-slider"></div>
         </slick>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <span>Then here is all the "pinned up" friend fasts</span>
      </div>
   </div>
</div>

