.full-fast .panel-default.text-panel {
   padding: 10px;
}

.full-fast .fast-info-profile {
   padding-right: 0;
}

.full-fast .fast-info-profile .profile-pic {
   width: 100%;
   height: 100%;
   padding: 5px;
}

.full-fast .fast-info-divider {
   border-color: black;
}

.full-fast .card-footer {
   padding-top: 15px;
}
