/* For full size fasts */
.fast-card {
   height: 250px;
   width: 200px;
   text-align: center;
   margin: 5px 10px;
   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background: linear-gradient(to bottom right, silver, grey);
}

.fast-card .fast-category {
   padding-top: 10px;
   margin: 0;
}

.fast-card .fast-subtitle {
   font-style: italic;
}

.fast-card .fast-card-divider {
   border-color: #222222;
   margin: 10px;
}

.fast-card .not-begun,
.fast-card-small .not-begun {
   width: 180px;
   position: absolute;
   display: flex;
}

.fast-card .fast-progress,
.fast-card-small .fast-progress {
   width: 90%;
   margin: 10px auto;
}

.fast-card .fast-progress .progress-bar,
.fast-card-small .fast-progress .progress-bar {
   color: black;
}

.slick-next:before, .slick-prev:before {
   color: #222222;
}

/* For small sidebar fast cards */
.fast-card-small {
   max-width: 200px;
}

.fast-card-small .fast-category {
   margin-bottom: 5px;
}

.fast-card-small .fast-category .fast-link {
   cursor: pointer;
}

.fast-card-small .fast-category .fast-user {
   font-style: italic;
   font-size: small;
}

.fast-card .card-footer {
   position: absolute;
   bottom: 0;
   left: 0;
   margin: 10px 15px;
   width: 200px;
}

