<nav class="navbar navbar-inverse navbar-static-top nav-colors">
   <div class="navbar-header">
      <a class="navbar-brand custom-brand" ui-sref="{{states.soon}}"><img src="/img/full-logo-dark.svg"/></a>
   </div>
   <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
         <li ng-show="isLoggedIn"><a ui-sref="{{states.welcome}}">Home</a></li>
         <li><a ui-sref="{{states.about}}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right account-nav" ng-show="!isLoggedIn">
         <li><a ui-sref="{{states.register}}">Register</a></li>
         <li uib-dropdown class="sign-in" ng-click="$event.stopPropagation();">
            <a uib-dropdown-toggle id="sign-in-button">Sign In<strong class="caret"></strong></a>
            <div uib-dropdown-menu aria-labelledby="sign-in-button" class="sign-in-dropdown">
               <form name="loginForm" ng-submit="login()">
                  <input class="form-control login-input" type="email" ng-model="email" 
                     placeholder="Email" required autofocus />
                  <input class="form-control login-input" type="password" ng-model="password" 
                     placeholder="Password" required />
                  <input class="btn btn-primary login-button" value="Sign In" type="submit"
                     ng-disabled=!loginForm.$valid />
               </form>
               <input class="remember-me-check" type="checkbox" ng-model="rememberMe" ng-init="rememberMe = false" />
               <label for="user_remember_me"> Remember me</label>
               <a class="pull-right" href="#">Forgot Password</a>

               <div ng-show="loginFailure" class="login-error">
                  <span>Invalid credentials!</span>
               </div>
            </div>
         </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
         <li><a ui-sref-"{{states.account}}">My Account</a></li>
         <li><a ng-click="logout()">Log Out</a></li>
      </ul>
   </div>
</nav>

