.fc-main-app {
   background-color: #e2e2e2;
}

.content-pane {
   height: 85vh;
   overflow-y: auto;
}

.coming-soon {
   text-align: center;
}

.navbar-brand.custom-brand {
   padding: 3px 15px;
}

.navbar-brand > img {
   width: 200px;
   height: 42px;
}

.ui.form .email-input {
   width: 300px !important;
}

.panel-default.text-panel {
   background-color: rgba(180, 180, 180, .8);
   border-color: #808080;
   padding: 20px;
   margin-top: 20px;
}

.panel-default.text-panel-solid {
   background-color: rgb(180, 180, 180);
   border-color: #808080;
   padding: 10px;
   margin-top: 20px;
}

.nav-colors {
   /* background-color: #222; */
   /* color: #9d9d9d; */
   background-color: #a29a8a;
   color: black;
   border-color: #080808;
}

.nav-colors .navbar-nav > li > a {
   color: black;
}

.nav-colors .navbar-nav > .open > a:hover,
.nav-colors .navbar-nav > .open > a {
   background-color: #656565;
}
