<div class="coming-soon">
    <div class="row">
        <div class="column-md-12 main-logo">
            <img src="img/c_logo.svg" style="height: 10rem">
        </div>
    </div>
    <div class="row">
        <h1>Coming Soon</h1>
    </div>
    <div class="row">
        <div>Your site for fasting!</div>
    </div>
    <div class="row">
        <div class="ui form">
            <div class="field">
                <form name="emailForm">
                    <input type="email" name="email" ng-model="email" placeholder="Your email address" class="email-input" required>
                    <button class="ui red button" ng-click="submitEmail($event)" ng-disabled="!emailForm.email.$valid">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <span>Enter your email address above to subscribe to notifications.</span><br/>
        <span>We will update you as soon as we are ready.</span>
    </div>
</div>

