<div class="welcome">
   <div class="row">
      <div class="col-md-offset-2 col-md-1">
         <button class="btn btn-default" ng-click="state.go('root.home.newfast')">Create New Fast!</button>
      </div>
      <div class="col-md-6">
         <slick ng-if="fastsLoaded" settings="slickConfig">
            <div fast-card ng-repeat="fast in fasts" fast="fast"></div>
         </slick>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <span>Then here is all the "pinned up" friend fasts</span>
      </div>
   </div>
</div>

